
/*
This file is from

http://fast.fonts.com/t/1.css?apiType=css&projectid=95b765fd-fae4-4f1b-8155-d8244914a5c6

I did not check licence.
*/

/* @import url(/t/1.css?apiType=css&projectid=95b765fd-fae4-4f1b-8155-d8244914a5c6); */
/* This is the current file (including itself?) ignored */

/* http://fast.fonts.com//dv2/2/51f4be3b-9293-44bc-baf2-f0663ce40eac.eot?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de0e80d728ed70c7177a0f9167b0f0bc954e9a7417874520a2c15dcb2c602fd6a4eeb9693b177f927a69aca829cbce9291d5adcf87999df7f1&projectId=95b765fd-fae4-4f1b-8155-d8244914a5c6    */

/*

Can not download this, so ignoring

@font-face{
font-family:"Adelle W01 Bold";
src:url("/dv2/2/51f4be3b-9293-44bc-baf2-f0663ce40eac.eot?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de0e80d728ed70c7177a0f9167b0f0bc954e9a7417874520a2c15dcb2c602fd6a4eeb9693b177f927a69aca829cbce9291d5adcf87999df7f1&projectId=95b765fd-fae4-4f1b-8155-d8244914a5c6") format("eot");}
@font-face{
font-family:"Adelle W01 Bold";
src:url("/dv2/2/51f4be3b-9293-44bc-baf2-f0663ce40eac.eot?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de0e80d728ed70c7177a0f9167b0f0bc954e9a7417874520a2c15dcb2c602fd6a4eeb9693b177f927a69aca829cbce9291d5adcf87999df7f1&projectId=95b765fd-fae4-4f1b-8155-d8244914a5c6");
src:url("/dv2/3/643fcd9d-f9b1-4f47-a110-c713cb07cd7b.woff?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de0e80d728ed70c7177a0f9167b0f0bc954e9a7417874520a2c15dcb2c602fd6a4eeb9693b177f927a69aca829cbce9291d5adcf87999df7f1&projectId=95b765fd-fae4-4f1b-8155-d8244914a5c6") format("woff"),url("/dv2/1/5bf8f2b2-84f8-432d-ba12-ad87271d929d.ttf?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de0e80d728ed70c7177a0f9167b0f0bc954e9a7417874520a2c15dcb2c602fd6a4eeb9693b177f927a69aca829cbce9291d5adcf87999df7f1&projectId=95b765fd-fae4-4f1b-8155-d8244914a5c6") format("truetype"),url("/dv2/11/f0f4d2d3-35c7-4435-8638-114d75943f51.svg?d44f19a684109620e4841579a190e818c2cd5c69820df687d3e552fa96b3a1370c2123452c97db9bec8d829e088fcd8ad8de0e80d728ed70c7177a0f9167b0f0bc954e9a7417874520a2c15dcb2c602fd6a4eeb9693b177f927a69aca829cbce9291d5adcf87999df7f1&projectId=95b765fd-fae4-4f1b-8155-d8244914a5c6#f0f4d2d3-35c7-4435-8638-114d75943f51") format("svg");
}

*/

